body {
    background-color: #f7f7f7;
    margin: 0;
    padding-top: 50px;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.container {
 
    margin: auto;
    padding-top: 4em; /* Adjusted padding to account for the fixed navbar */
}

.col-md-4 {
    padding-top: 1em;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #005e31;
    border-color: #005e31;
}

.btn-primary:hover {
    background-color: #2b7050;
    border-color: #2b7050;
}
.custom-card {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 400px; /* Set max height */
    min-height: 400px; /* Set min height */
  }
  .card-img-top {
    max-height: 200px; /* Ensure image does not overflow */
    object-fit: cover; /* Adjust image to fit the card */
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
